<br> <br>
<div *ngIf="(ErrorMessage != null && ProyectoSeleccionado == null )" class="alert alert-danger" id="danger">
  <strong>{{ErrorMessage}}</strong>
</div>
<div *ngIf="(ProyectoSeleccionado != null )" class=" alert alert-success">
  <span class="textstyle">Proyecto Seleccionado:</span> {{ProyectoSeleccionado.nombre}}
</div>


<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-6">
    <span class="textstyle">Usuario:</span> {{NombreDeUsuario}}
  </div>
  <div class="col-xs-12 col-sm-5 col-md-6">
    <span class="textstyle">Fecha:</span>
  </div>

  <div class="col-xs-12 col-sm-5 col-md-4">

    <div class="form-horizontal">
      <div class="form-group">
        <div class="input-group">
          <div class="col-xs-3">
            <select class="custom-select" *ngIf="ListaDeProyectos.length > 0">
              <option selected>- Seleccione un proyecto </option>
              <option *ngFor="let proyecto of ListaDeProyectos" (click)="SeleccionDeProyecto(proyecto)">{{proyecto.nombre}}</option>
            </select>
            <span *ngIf="ListaDeProyectos.length == 0" class="textstyledanger">
              <br /> Sin proyectos disponibles
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-5 col-md-8">

  </div>
</div>
<br> <br>




<div class="row">
  //<div class="col-xs-12 col-sm-12 col-md-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <div class="titulo" (click)="showModal(content)">
      <a>Nueva <br />Evaluaci&oacute;n</a>
    </div>
  </div>



  <div class="col-xs-12 col-sm-12 col-md-4">

    <div class="titulo" (click)="EvaluacionesAnteriores()" id="bajarmedia">
      <a>Evaluaciones <br />Anteriores</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2"></div>
</div>




<ng-template #content let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">NUEVA EVALUACIÓN</h5> <button type="button" class="close" (click)="cl('Closed from Close button')">

        <span aria-hidden="true">×</span>

      </button>
    </div>
    <div class="modal-body">
      <p>¿Quieres continuar con la evaluación o empezar una nueva?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="NuevaEvaluacion()">Continuar</button>
      <button type="button" class="btn btn-secondary" (click)="di('Dismissed from dismiss button')">Nueva</button>
      <button type="button" class="btn btn-primary" (click)="cl('Closed from Close button')">Cancelar</button>
    </div>
  </div>
</ng-template>




