<div class="corregir position-relative">
  <div class="position-absolute error-msg">
    <div *ngIf="ErrorMessage?.length>0" class="alert alert-danger" id="danger">
      <strong>{{ErrorMessage}}</strong>
    </div>
  </div>

  <div *ngIf="MostrarInfo">

    <div class="container">
      <div class="row ng-card-box p-5 br-2 mat-elevation-z2">
        <div class="col" id="proyectSelectorContainer">
          <div class="row">
            <div class="col">
              <h3>Seleccione un proyecto</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <select class="custom-select not-rounded margin-select" *ngIf="ListaDeProyectos.length > 0" (change)="SeleccionDeProyecto($event.target.value)">
                <option selected [disabled]="this.ProyectoSeleccionado">- Seleccione un proyecto </option>
                <option *ngFor="let proyecto of ListaDeProyectos; let i = index" value={{i}}>{{proyecto.nombre}}</option>
              </select>
            </div>
            <div class="col-4">
              <div class="main-button bajarmedia eval-ant mat-elevation-z5 w-85 m-auto" [class.card-disabled]="!this.ProyectoSeleccionado"
                (click)="EvaluacionesAnteriores()">
                <a>EVALUACIONES ANTERIORES</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ng-card-box p-5 br-2 mt-4 mat-elevation-z2" [class.card-disabled]="!this.ProyectoSeleccionado">
        <div class="col" id="assessmentSelectorContainer">
          <div class="row">
            <div class="col">
              <h3>Seleccione un tipo de evaluación</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <select class="custom-select not-rounded margin-select" *ngIf="AllAssessments.length > 0" (change)="SeleccionDeAssessment($event.target.value)">
                <option selected [disabled]="this.AssessmentSelected">- Seleccione una evaluación </option>
                <option *ngFor="let assessment of AllAssessments; let i = index" value={{i}}>{{assessment.assessmentName}}</option>
              </select>
            </div>
            <div class="col-4">
              <div class="main-button mat-elevation-z5 new-eval w-85 m-auto" (click)="showModal(content)">
                <a>NUEVA EVALUACI&Oacute;N</a>
              </div>
            </div>
            <div class="col-4">



              <div class="secondary-button cont-eval mat-elevation-z4 w-85 m-auto" [class.card-disabled]="ListaDeProyectos.length > 0 && !existeRepetida"
                (click)="continuarEvaluacion()">
                <a>CONTINUAR EVALUACIÓN</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-cl="close" let-di="dismiss">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Importante</h5> <button type="button" class="close" (click)="cl('Cerrar')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Desea empezar una nueva evaluación? Al aceptar, se finalizará la evaluación anterior. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="main-buttonModal mat-elevation-z4" (click)="di('Continuar')">Continuar</button>
        <button type="button" class="main-buttonModal mat-elevation-z4" (click)="cl('Cerrar')">Cancelar</button>
      </div>
    </div>
  </ng-template>
</div>
