@import url('https://fonts.googleapis.com/css?family=Roboto');

.transition-animation{
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.error-msg{
  top:0;
  left:0;
  width:100%;
  border-radius:0px;
  text-align:center;
}

.corregir{
  padding-top:62px;
}


.titulo {
  // margin-left: 15%;
  // width: 310px;
  width:100%;
  height: 70px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  text-align: center;
  // letter-spacing: 1px;
  background: linear-gradient(50deg, #99AD00, #99AD01);
  padding: 15px 20px;
  // transition: all .5s ease;
  // border-radius: 3px;
  cursor: pointer;
  padding-top:22px;
  @extend .transition-animation;
  a {
    width: 310px;
    height: 50px;
    text-decoration: none;
    // color: #FFF;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.titulo:hover {
  // box-shadow: 0 20px 5px -10px rgba(#000, 0.4);
  // transform: translateY(10px);
  color:#7b8a02;
  background: white;/*rgba(153, 173, 0, 0.03137254901960784);;*/
  border: 1px solid #99AD00;
  @extend .transition-animation;
}
#home_buttons{
  margin: 0 auto;
  // padding: 20px 20px;
  text-align: left;
  max-width: 760px;
}

#infopro {
  // border: 1px solid #99AD00;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: left;
  max-width: 77%;
  // border-radius: 5px;

  background: #fff;
  border-radius: 2px;
  
  // box-shadow: 0 0px 12px rgba(0, 0, 0, 0.19), 0 0px 9px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.09), 0 0px 12px rgba(0, 0, 0, 0.22);
  
  

  .not-rounded{
    border-radius: 0px !important;
    margin-top:10px;
  }
}


.textstyle {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .titulo {
    margin-left: 28%;
  }

  .bajarmedia {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 535px) {
  .titulo {
    margin-left: 28%;
  }

}

@media only screen and (max-width: 500px) {
  .titulo {
    margin-left: 15%;
  }

}

@media only screen and (max-width: 450px) {
  .titulo {
    margin-left: 10%;
  }

}

@media only screen and (max-width: 575px) {
  .tituloCont {
    max-width: 300px;
  }
}

.espacio {
  margin: 25px;
}

.main-button{
  width: 310px;
  height: 36px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  text-align: center;
  // letter-spacing: 1px;
  background: linear-gradient(50deg, #99AD00, #99AD01);
  padding: 15px 20px;
  // transition: all .5s ease;
  // border-radius: 3px;
  cursor: pointer;
  padding-top:6px;
  border: none;
  

  &:hover{
    color:#7b8a02;
    background: white;/*rgba(153, 173, 0, 0.03137254901960784);;*/
    border: 1px solid #99AD00;
  }
}


.tituloCont {
  min-width: 125px;
  height: 60px;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
  background: #3498b7;
  padding: 10px 5px;
  // transition: all .5s ease;
  // border-radius: 3px;
  cursor: pointer;
  padding-top:20px;
  @extend .transition-animation;
    &:hover{
      color:#23728a;
      background: white;/*rgba(0, 147, 173, 0.031);*/
      border: 1px solid #3498b7;
      @extend .transition-animation;
    }

  a {
    text-decoration: none;
    // color: #FFF;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.tituloContDisable {
  min-width: 125px;
  height: 60px;
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
  background: rgba(52, 122, 183, 0.27);
  padding: 10px 5px;
  // transition: all .5s ease;
  // border-radius: 3px;
  cursor: not-allowed;
  padding-top: 20px;

  a {
    text-decoration: none;
    color: #FFF;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } 
  
}

.eval-ant{
  margin-left:auto;
}




