<div class="">
  <!-- <select class="custom-select" *ngIf="ListaDeUsuarios.length > 0">
    <option selected [disabled]="this.ProyectoSeleccionado">- Seleccione un usuario </option>
    <option *ngFor="let usuario of ListaDeUsuarios; let i = index" value={{i}}>{{usuario.nombre}}</option>
  </select>



<p>
  Start editing to see some magic happen :)
</p>
<input type="text" [(ngModel)]="query">
<ul>
<li *ngFor="let usuario of ListaDeUsuarios | startsWith : query">{{usuario.nombre}}</li>
</ul> -->

</div>