
table {
    width: 100%;
    
  }
  mat-table{
  width: 100%!important;
  }
  
  mat-cell {
    font-size: 12px !important;
    /* display:flex !important; */
    justify-content: center !important;
  }


  th.mat-header-cell {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #222222;
   
    /* height: 40px; */
  }
  ::ng-deep  .mat-sort-header-container {
    display: flex !important;
    cursor: pointer;
    justify-content: center !important;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 12px;
    text-align: center;
}

.comments-form-field{
  min-width: 100%;
}

  mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
    padding-left: 0px;
  }
  mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
    padding-right: 0px;
  }

  img.estado, img.comment, img.informe{
    width: 30px;
    height: 30px;
  }

  img.edit{
    width: 60%;
    height: 60%;
  }

  button.transparente{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 60px;
  }


   tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 50%;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  } 

  .mat-column-userNombre, .mat-column-assessmentName, .mat-column-puntuacion, .mat-column-notas, .mat-column-informe {
    width: 16%;
  }
  
  .mat-column-fecha {
    width: 20%;
  }

  .table-container{
    //margin-top: -1rem;
  }

  .transparente {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    //overflow: hidden;
    outline: none;
    width: 40px;
  }
  
  img{
    height:32px;
  }
