
 <div class="row m-3">
   <div class="d-flex justify-content-center" >
        <div class="bread-item" 
          *ngFor="let item of breadcrumbList; let i = index"
          [class.active]="i == breadcrumbList.length-1">
          <a [routerLink]="item.path" *ngIf="i != breadcrumbList.length-1 && item.path != null">
              {{ item.name }}
            </a>
            
          <span *ngIf="i == breadcrumbList.length-1 || item.path == null">{{ item.name }}</span>
          <span *ngIf="i < breadcrumbList.length-1" class="bread-caret"> > </span>
        </div>
      </div>
 </div>

