<br>
<br>
<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-5">
    Usuario:
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    Fecha:
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5">

    <div class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Proyecto:</label>

      </div>
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h2>Evaluaciones anteriores</h2>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-3"></div>
</div>

<div class="container">

  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">       
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter" (click)="Restablecer()">Filtrados</button>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(null)">
            <input name="radio" type="radio" checked>
            <span>Todos</span>
          </label>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(true)">
            <input name="radio" type="radio">
            <span>Completado</span>
          </label>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(false)">
            <input name="radio" type="radio">
            <span>No Completado</span>
          </label>

        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr class="filters">
            <th>
              <input type="text" class="form-control" placeholder="Fecha" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Fecha" *ngIf="clicked" [(ngModel)]="ProyectoBuscado.fecha">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Proyecto" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Proyecto" *ngIf="clicked" [(ngModel)]="ProyectoBuscado.nombre">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Usuario" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Usuario" *ngIf="clicked" [(ngModel)]="ProyectoBuscado.usuario">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Puntuación" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Puntuación" pattern="[0-9]{3}" *ngIf="clicked" [(ngModel)]="puntuacion">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Estado" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Informe" disabled>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of Busqueda()">
            <td>{{proyecto.fecha}}</td>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.usuario}}</td>
            <td>{{proyecto.puntuacion}}/{{proyecto.totalpreguntas}}</td>
            <td *ngIf="proyecto.puntuacion==proyecto.totalpreguntas"><img class="icons" src="../../assets/check.png" /></td>
            <td *ngIf="proyecto.puntuacion!=proyecto.totalpreguntas"><img class="icons" src="../../assets/warning.png" /></td>
            <td><button type="button" class="btn btn-danger" routerLink="/pdfgenerator">VER GRAFICA <span class="glyphicon glyphicon-save-file"><img class="icons" src="../../assets/pdfgenerate.png" /></span></button></td>
          </tr>
      
        </tbody>
      </table>
      <p>{{fecha}}</p>
    </div>
  </div>
</div>
