<br>
<br>
<div class="corregir">
  <div class="espacio">
    <div *ngIf="(ErrorMessage != null || ErrorMessage != undefined )" class="alert alert-danger" id="danger">
      <strong>{{ErrorMessage}}</strong>
    </div>
  </div>

  <div class="row" id="infopro" *ngIf="MostrarInfo">
    <div class="col-xs-12 col-sm-5 col-md-5">
      Usuario: {{UserName}}
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      Fecha: {{Project.fecha | date:'dd/MM/yyyy'}}
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="sel1">Proyecto: {{Project.nombre}}</label>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="loading" *ngIf="Deshabilitar">
    <app-loading></app-loading>
  </div>

  <div [ngClass]="('' + (Deshabilitar ? 'disabled' : ''))" *ngIf="InfoAsignacion.preguntas !=  null">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Sección: {{SectionSelected.nombre}}</h2>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Módulo {{InfoAsignacion.id}}: {{InfoAsignacion.nombre}}</h2>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-3"></div>
    </div>
    <br />
    <div class="row" id="preguntas" *ngFor="let preguntaDada of InfoAsignacion.preguntas; let i = index">
      <div class="col-xs-12 col-sm-3 col-md-3"></div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        {{i + 1}}. {{preguntaDada.pregunta}}
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3" id="switch">

        <div class="container" [ngClass]="{'disabled': InfoAsignacion.preguntas[0].correcta == null && InfoAsignacion.preguntas[0].respuesta.estado != 1 && i != 0}">
          <div class="button-wrap">
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{preguntaDada.respuesta.id}}" (click)="ChangeEstadoDB(i)" [checked]="(preguntaDada.respuesta.estado == 1)">
              <label class="onoffswitch-label" for="{{preguntaDada.respuesta.id}}">
                <span [ngClass]="{'onoffswitch-inner-inactivo': preguntaDada.respuesta.estado == 0, 'onoffswitch-inner': preguntaDada.respuesta.estado != 0}"></span>
                <span [ngClass]="{'onoffswitch-switch-inactivo': preguntaDada.respuesta.estado == 0, 'onoffswitch-switch': preguntaDada.respuesta.estado != 0}"></span>
              </label>
            </div>

          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-1 col-md-1"></div>
      <br />
    </div>
    <div class="wrapper" *ngIf="InfoAsignacion.preguntas != null && InfoAsignacion.preguntas.length != 0">
      <button type="button" class="btn btn-outline-success" [ngClass]="{'disabled': PageNow == 1}" (click)="NextPreviousButton(2)">Anterior</button>
      <strong>
        {{PageNow}}/{{NumMax}}
      </strong>
      <button type="button" class="btn btn-outline-success" *ngIf="PageNow != NumMax" (click)="NextPreviousButton(1)">Siguiente</button>
      <button type="button" class="btn btn-outline-success" *ngIf="PageNow == NumMax" (click)="NextPreviousButton(0)">Finalizar</button>
    </div>
    <div class="wrapper mt-2">
      <button type="button" class="btn btn-info" (click)="NextPreviousButton(0)">Volver</button>
    </div>
  </div>
</div>
<br />


