<br>
<br>
<div class="row" id="infopro">

    <div class="col-xs-12 col-sm-5 col-md-5">
        Usuario:
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        Fecha:
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="sel1">Proyecto:</label>

            </div>
        </div>

    </div>
</div>
<br>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Ceremonias – Módulo 1: Daily meeting</h2>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
</div>
<br/>

<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        1. ¿Se realiza la daily meeting?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1">
            <label class="onoffswitch-label" for="myonoffswitch1">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>
<br/>
<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        2. ¿El equipo completo participa?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2">
            <label class="onoffswitch-label" for="myonoffswitch2">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>
<br/>
<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        3. ¿El PO participa al menos una/dos veces por semana?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3">
            <label class="onoffswitch-label" for="myonoffswitch3">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>
<br/>
<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        4. ¿Se emplean como máximo 15 minutos?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4">
            <label class="onoffswitch-label" for="myonoffswitch4">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>
<br/>
<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        5. ¿Se mencionan los problemas e impedimentos?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5">
            <label class="onoffswitch-label" for="myonoffswitch5">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>
<br/>
<div class="row" id="preguntas">
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
    <div class="col-xs-12 col-sm-5 col-md-5">
        6. ¿Salen los miembros del equipo alineados con el objetivo?
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1" id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6">
            <label class="onoffswitch-label" for="myonoffswitch6">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3"></div>
</div>