@import 'theme.scss';

$dark: #292929;
$light: #efefef;
$red: #D91E18;
$green: #2ECC71;
$blue: #92bbfc;
$small: 40em;

// .corregir {
//   // margin-right: 5%;
// }

.yes-no-animation{
  -webkit-transition: all .6s ease !important;
  -moz-transition: all .6s ease !important;
  -ms-transition: all .6s ease !important;
  -o-transition: all .6s ease !important;
  transition: all .6s ease !important;
}

#preguntas {
  text-align: left;
}

.b-f-buttons {
  font-size: 19px;

}

.b-icon {
  height: 25px;
  /* width: 25px; */
  top: 6px;
  left: 7px;
}

.main-button {

  &.rounded-back-btn {

    border-radius: 5px;
    height: 40px;
    width: 40px;

    path {
      fill: white !important;
    }


    &:hover {
      path {
        fill: #99AD00 !important;
      }
    }

  }



}

.back-btn {
  top: -1px;
  left: -28px;
  color: mat-color($mat-everis, 50);
  user-select: none;
}

.back-sec-btn {
  top: -1px;
  left: -66px;
  color: mat-color($mat-everis, 50);
  user-select: none;
}

.next-btn {
  top: -1px;
  right: -30px;
  color: mat-color($mat-everis, 50);
  user-select: none;
}

.next-sec-btn {
  top: -1px;
  right: -70px;
  color: mat-color($mat-everis, 50);
  user-select: none;
}

.vert-align {
  vertical-align: middle;
}

.questions-pagination {
  padding-top: 14px;
}


#infopro {
  border: 1px solid #99AD00;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: left;
  max-width: 1100px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

.questions-box {
  min-height: 400px;
}

.next-section-box{
  top:0px;
  right:0px;
}

.rounded-btn{
  border-radius: 5px;
    height: 45px;
    width: 45px;
    padding: 10px 8px;
    margin-left: 5px;
}

.next-section-icon{
  top: 7px;
  right: 7px;
}

.finalizar-button {
  width: 100%;
  border: 0px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  height: 45px;

  &:hover {
    border: 1px solid #99AD00;
  }
}

.custom-modal-header {
  //background: linear-gradient(to right, mat-color($mat-everis, 50) , mat-color($mat-everis, 50),  mat-color($mat-everis, 50),  mat-color($mat-everis, 400));
  background: linear-gradient(to right, mat-color($mat-everis, 200) , mat-color($mat-everis, 50), mat-color($mat-everis, 500),  mat-color($mat-everis, 400));
  color: white;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-btns {
  height: 50px;
  padding-top: 11px;
}

.btn-ab {
  top: 1px;
  left: -10px;

  &#module-notes {
    top: -3px !important;
  }
}

.item-full-disabled{
  @extend .yes-no-animation;
  pointer-events: none;
  opacity: 0.10 !important;
  user-select: none;
}

.item-not-selected{
  @extend .yes-no-animation;
  opacity: 0.24;
  user-select: none;
  &.first-item{
    opacity: 0.32;
  }
}

.questions-yes-btn {
  @extend .yes-no-animation;
  border-top-left-radius: 5px;
  border: 1px solid #4caf2b;
  border-bottom-left-radius: 5px;
  background: #4caf2b;
  color: white;
  cursor: pointer;

  &:focus{
    outline:none;
  }

}

.questions-no-btn {
  @extend .yes-no-animation;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ef371f;
  background: #ef371f;
  color: white;
  cursor:pointer;
  
  &:focus{
    outline:none;
  }
}

.question- h2 {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabledButton {
  opacity: 0.5;
  cursor: default;
}

.loading {
  position: fixed;
  margin-top: 10%;
}

.transition-animation {
  -webkit-transition: all .8s ease !important;
  -moz-transition: all .8s ease !important;
  -ms-transition: all .8s ease !important;
  -o-transition: all .8s ease !important;
  transition: all .8s ease !important;
}

#module-title-row {
  border-bottom: 1px solid #80808059;
  background: #f7f7f7f7;
}



.dots {

  height: 16px;

  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    // cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 auto;

  }


  li {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    // cursor: pointer;
    @extend .transition-animation;

    &:not(.current) {
      margin-top: 2px;
      @extend .transition-animation;
    }

    &.current {
      width: 14px;
      height: 14px;
      @extend .transition-animation;

      a {
        background-color: mat-color($mat-everis, 50);
        opacity: 1;
      }
    }

    a {
      transition: transform 0.3s ease, background-color 0.3s ease;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 25%;

      background-color: mat-color($mat-everis, 50);
      text-indent: -999em;
      opacity: 0.5;
      // cursor: pointer;
      position: absolute;

      @extend .transition-animation;
    }
  }
}

.footer-pb-pt {
  border-top: 1px solid #dcdcdc;
  padding-bottom: 2.3rem;
  background: #f7f7f7;
}

.pl-13 {
  padding-left: 2.3rem !important;
}

.one-badge {
  position: absolute;
  z-index: 4;
  color: white;
  top: -3px;
  right: 8px;
  font-size: 10px;
}

.asignacion-notas {
  .one-badge {
    position: absolute;
    z-index: 4;
    color: white;
    top: -3px;
    right: 8px;
    font-size: 10px;
  }

  .material-icons {
    &.comment-added {
      color: red;
      position: absolute;
      top: -5px;
      right: 0px;
      font-size: 20px;
    }
  }
}



.espacio {
  margin: 25px;
}

.transparente {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: visible;
  outline: none;
}

//Estilos para los botones de las preguntas para responder
@media (max-width: 574px) {
  .onoffswitch {
    margin-top: 3%;
    margin-left: 39%;
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  // border: 1px solid #6c790145;
  border-radius: 20px;
}

.material-icons {
  &.add-comment {
    color: mat-color($mat-everis, 50);
  }

  &.comment-added {
    color: red;
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 20px;
  }

  &.pointer:not(.disabled) {
    cursor: pointer;
  }

}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "SI";
  padding-left: 23px;
  background-color: #98ab00;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 23px;
  background-color: #e82801;
  /* #e5593d;*/
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  // display: block;
  // width: 18px;
  // margin: 6px;
  // background: #FFFFFF;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 56px;
  // border: 2px solid #999999;
  // border-radius: 20px;
  // transition: all 0.3s ease-in 0s;
  display: block;
  width: 13px;
  height: 13px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 2px;
  bottom: 0px;
  right: 60px;
  border: 1px solid #999999;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-inner-inactivo {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner-inactivo:before,
.onoffswitch-inner-inactivo:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner-inactivo:before {
  content: "SI";
  padding-left: 23px;
  background-color: #98ab00;
  color: #FFFFFF;
}

.onoffswitch-inner-inactivo:after {
  content: "";
  padding-right: 23px;
  background-color: rgba(151, 169, 0, 0.31);
  ;
}

.onoffswitch-switch-inactivo {
  // display: block;
  // width: 18px;
  // margin: 6px;
  // background: #FFFFFF;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // right: 30px;
  // border: 2px solid #999999;
  // border-radius: 20px;
  // transition: all 0.3s ease-in 0s;
  display: block;
  width: 13px;
  height: 13px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 2px;
  bottom: 0px;
  right: 32px;
  border: 1px solid #999999;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner-inactivo {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch-inactivo {
  right: 0px;
}

.finalizar {
  background-color: mat-color($mat-everis, 50) !important;
  border-color: mat-color($mat-everis, 50) !important;
  transition-duration: 0.1s !important;
}

.finalizar:hover {
  background-color: #428442 !important;
}

.inicio {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  transition-duration: 0.1s !important;
}

.inicio:hover {
  background-color: #1e4c75 !important;
}

.item-disable-no-color {
  border: 1px solid gray;
  background: gray;
}
.border-curve{
  border-radius: .25rem;
}

.ng-card-box{
  // box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  border-left: 4px solid mat-color($mat-everis, 50);
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top: 1px solid #dadadac4;
  @extend .transition-animation;
}

.comment {
  height: 32px !important;
  margin-top: -2px;
}
.comment-yes-no {
  height: 32px !important;
  margin-top: 6px;
}

.section-title{
  display: inline-flex;
}

.centered{
  justify-content: center;
}

.yes-no-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.yes-no-width{
  width: 100% !important;
}

.dots-icon{
  height: 20px;
  margin-top: -10px;
}