#infopro {
    border: 1px solid #99AD00;
    margin: 0 auto;
    padding: 15px 15px;
    text-align: left;
    max-width: 1100px;
    font-size: 16px;
  
    &.main-button {
      text-align: center !important;
    }
  }

.finish-disable{
    pointer-events: none;
    opacity: 0.10 !important;
    user-select: none;
  }

.m-finish {
    height: 39px;
    width: 170.531px;
    margin-left: 40%;
    border-radius: .25rem;
  }

.finish:hover {
    background-color: #428442 !important;
  }

  .modal-content{
    border:none;
  }

  .custom-modal-header {
    background: #99AD00;
    color: white;
    font-weight: bold;
  }
  .border-curve{
    border-radius: .25rem;
  }