<div class="position-relative">
    <div class="position-absolute error-msg">
        <div *ngIf="updateUser != null" class="alert alert-success">
            {{updateUser}}
        </div>
    </div>
</div>    
<div class="row backOfficeContent">
  
    <div class="backOfficeMenu col-2">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" routerLink="usermanagement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" role="tab" aria-controls="Users">Usuarios</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" routerLink="teamsmanager" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" role="tab" aria-controls="Projects">Equipos</a>
        <a class="list-group-item list-group-item-action" id="list-questions-list" data-toggle="list" routerLink="questions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" role="tab" aria-controls="Questions">Preguntas</a>
      </div>
    </div>

    <div *ngIf="_router.url !== '/backoffice'" class="col-9 ng-card-box p-3 br-2 mat-elevation-z5">
      <router-outlet class="backOfficeComponents"></router-outlet>
    </div>
    
</div>