<div class="espacio">
  <div *ngIf="(ErrorMessage != null || ErrorMessage != undefined )" class="alert alert-danger" id="danger">
    <strong>{{ErrorMessage}}</strong>
  </div>
  <div *ngIf="anadeNota != null" class=" alert alert-success">
    {{anadeNota}}
  </div>
</div>



<div  class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="ng-card-box p-2 p-2 pt-5 pb-5 br-2 mat-elevation-z5">
        <div class="row">
            <div class="col ml-5">
              <h3>Resultados de la evaluación</h3>
            </div>
        </div>

        <div *ngIf="!ListaSectionConAsignaciones" class="loading mt-4">
            <app-loading ></app-loading>
        </div>
  <!-- <div class="row">
    <div class="col-6 offset-md-3">
      <h2 _ngcontent-c3>Resultado evaluación</h2>
    </div>
  </div> -->
  <!-- <div class="row" hidden>
    <div class="ml-2 pl-5 col-xs-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 mt-3" *ngIf="mostrarCheckboxes">

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasPreg" name="notasPreg" value="" (click)="cambiarMostrarNotasPreg()" />
            <label for="notasPreg">
              <span>
                
              Tabla de preguntas
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasEv" name="notasEv" value="" [ngClass]="{'disableCheck': Evaluacion.notasEv == null || Evaluacion.notasEv.length == '0'}"
              (click)="cambiarMostrarNotasEv()" />
            <label for="notasEv" [ngClass]="{'disable': Evaluacion.notasEv == null || Evaluacion.notasEv.length == '0'}">
              <span>
               
              Notas de evaluación
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasOb" name="notasOb" value="" [ngClass]="{'disableCheck': Evaluacion.notasOb == null || Evaluacion.notasOb.length == '0'}"
              (click)="cambiarMostrarNotasOb()" />
            <label for="notasOb" [ngClass]="{'disable': Evaluacion.notasOb == null || Evaluacion.notasOb.length == '0'}">
              <span>
               
              Notas de objetivos
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasSec" name="notasSec" value="" [ngClass]="{'disableCheck': !Evaluacion.flagNotasSec}"
              (click)="cambiarMostrarNotasSec()" />
            <label for="notasSec" [ngClass]="{'disable': !Evaluacion.flagNotasSec}">
              <span>
               
              Notas de secciones
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasAsig" name="notasAsig" value="" [ngClass]="{'disableCheck': !Evaluacion.flagNotasAsig}"
              (click)="cambiarMostrarNotasAsig()" />
            <label for="notasAsig" [ngClass]="{'disable': !Evaluacion.flagNotasAsig}">
              <span>
               
              Notas de módulos
            </label>
          </div>
        </form>
      </div>

      <div class="mt-3">
        <button type="button" class="btnpdf mt-1 mt-lg-0 ml-0" (click)="Volver('/evaluacionprevia')">Volver</button>
        <button type="button" class="btnpdf mt-1 mt-lg-0" (click)="downloadPDF()">Generar PDF</button>
      </div>

    </div>

   
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-5 mt-3 text-center" id="tablaPuntuaciones">

      <div class="data mb-2">
        Proyecto: <b>{{Evaluacion.nombre}}</b>
        <br />
        Fecha: <b>{{Evaluacion.fecha | date:'dd/MM/yyyy'}}</b>
      </div>

      <table class="table-fill mx-auto " style="overflow-x:auto;">
        <thead>
          <tr>
            <th class="text-left">Secciones</th>
            <th class="text-left">Puntuación</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let datos of ListaDeDatos; let i = index">
            <td class="text-left" [ngClass]="{'suspenso': datos.respuestasCorrectas < ListaSeccionesAgileCompliance[i]}">{{datos.nombre
              | titlecase}}</td>
            <td class="text-left" [ngClass]="{'suspenso': datos.respuestasCorrectas < ListaSeccionesAgileCompliance[i]}">{{datos.respuestasCorrectas}}%</td>
          </tr>
          <tr>
            <td class="text-left total" [ngClass]="{'suspenso': Evaluacion.puntuacion < AgileComplianceTotal}"><strong>Total</strong></td>
            <td class="text-left total" [ngClass]="{'suspenso': Evaluacion.puntuacion < AgileComplianceTotal}">{{Evaluacion.puntuacion}}%</td>
          </tr>
          <tr>
            <td>Media</td>
            <td class="media" *ngIf="Evaluacion.media == -1">No existen evaluaciones</td>

            <td class="media" *ngIf="Evaluacion.media != -1" height="100%">{{Evaluacion.media | number:'1.0-1'}}%</td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 text-center mt-4">



     
      <div id="Grafica" class="mx-auto">
        <canvas id="canvas" baseChart [datasets]="barChartData" [labels]="ListaNombres" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" [colors]="chartColors"></canvas>
      </div> 

    </div>

  </div>

  <div class="data mb-2">
    <b>{{Evaluacion.nombre}}</b> - <b>{{Evaluacion.fecha | date:'dd/MM/yyyy'}}</b>
  </div> -->

  <div class="circle-progress-container" *ngIf="ListaSectionConAsignaciones && ListaSectionConAsignaciones.length>0">
      <div *ngFor="let datos of ListaSectionConAsignaciones; let i = index" [attr.data-index]="i" [ngClass]="formatLevel(ListaSectionConAsignaciones[i])" class="circle-progress">
    <circle-progress
  [percent]= "ListaSectionConAsignaciones[i].puntuacion"
  [toFixed] = "1"
  [subtitle] = "[formatSubtitle(ListaSectionConAsignaciones[i])]"
  [subtitleFontSize]= "14"
  [titleFontSize]= "26"
  [unitsFontSize]= "14"
  [radius]="74"
  [space] = "-10"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="10"

  [innerStrokeColor]="getLevelColorInner(ListaSectionConAsignaciones[i])"
  [outerStrokeColor]="getLevelColorOuter(ListaSectionConAsignaciones[i])"
  [outerStrokeLinecap]="'square'"
  [animation]="true"
  [renderOnClick]="false"
  [animationDuration]="300"
    ></circle-progress>
    <div class="text-center"><b>{{datos.nombre}}</b></div>
  </div>
   <div  [ngClass]="formatTotalLevel(ListaSectionConAsignaciones)">
        <circle-progress
      [percent]= "getTotalPercent(ListaSectionConAsignaciones)"
      [toFixed] = "1"
      [showSubtitle] = "false"
      [subtitle] = "[formatTotalSubtitle(ListaSectionConAsignaciones)]"
      [subtitleFontSize]= "14"
      [titleFontSize]= "26"
      [unitsFontSize]= "14"
      [radius]="74"
      [space] = "-10"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="10"
      [innerStrokeColor]="'#b8457a30'"
      [outerStrokeColor]="'#b8457a'"
      [outerStrokeLinecap]="'square'"
      [animation]="true"
      [renderOnClick]="false"
      [animationDuration]="300"
        ></circle-progress>
        <div class="text-center"><b>VALORACIÓN</b></div>
        <div class="text-center"><b>GLOBAL</b></div>
  </div> 

</div>

  </div>
  <mat-expansion-panel class="notas-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notas
        <img class="comment" *ngIf="(Evaluacion.notasEvaluacion != null && Evaluacion.notasEvaluacion != '') || (Evaluacion.notasObjetivos != null && Evaluacion.notasObjetivos != '')" src="assets/comment filled.png" title="Hay notas" />
        <img class="comment" *ngIf="(Evaluacion.notasEvaluacion == null || Evaluacion.notasEvaluacion == '') && (Evaluacion.notasObjetivos == null || Evaluacion.notasObjetivos == '')" src="assets/comment empty.png" title="No hay notas" />
      </mat-panel-title>
    </mat-expansion-panel-header>
  <div class="notas-row">
      <div class="notas-container">
      <mat-form-field class="comments-form-field" appearance="outline">
          <mat-label>Notas Evaluación</mat-label>
          <textarea matInput 
          cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="6"
        cdkAutosizeMaxRows="6"
        placeholder="Notas Evaluación" [(ngModel)]="Evaluacion.notasEvaluacion"
        [debounce]="1000" 
        (ngModelChange)="saveNotas(Evaluacion)"
        [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
        </textarea>
        </mat-form-field>
      </div>
      <div class="notas-container">
          <mat-form-field class="comments-form-field" appearance="outline">
              <mat-label>Notas Objetivos</mat-label>
              <textarea matInput 
              cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="6"
            cdkAutosizeMaxRows="6"
            placeholder="Notas Objetivos" [(ngModel)]="Evaluacion.notasObjetivos"
            [debounce]="1000" 
            (ngModelChange)="saveNotas(Evaluacion)"
            [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
            </textarea>
            </mat-form-field>
          </div>
  </div>
  </mat-expansion-panel>
  
  <div class="table-row" *ngIf="true">
    <app-section-results *ngIf="MostrarPreguntas && ListaDeRespuestas && ListaDeRespuestas.length > 0" [lSectionConAsignacionesDto]="ListaSectionConAsignaciones" >
      loading
    </app-section-results>

    <comentarios-table *ngIf="MostrarComentarios && ListaDeAsignaciones" [dataInput]="ListaDeAsignaciones">
      loading
    </comentarios-table>
  </div>

  <div class="row">

    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 mt-3 text-center"></div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 mt-3 text-center">



    </div>

    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-3 mt-3 text-center"></div>



  </div>
</div>

<div id="my_mm" style="height:1mm;display:none"></div>

<ng-template #notasAdmin let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Notas Respuestas Administrador</h5> <button type="button" class="close" (click)="cl('Cerrar')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea class="form-control" maxlength="4000" placeholder="Inserte aquí el texto" rows="10" [(ngModel)]="textoModal"></textarea>
    </div>
    <div class="modal-footer">
      <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
      <button type="button" class="btn btn-success cambiar" (click)="di('Guardar')">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cl('Cerrar')">Cancelar</button>
    </div>
  </div>
</ng-template>
