<div class="espacio">
  <div *ngIf="(ErrorMessage != null || ErrorMessage != undefined )" class="alert alert-danger" id="danger">
    <strong>{{ErrorMessage}}</strong>
  </div>
  <div *ngIf="anadeNota != null" class=" alert alert-success">
    {{anadeNota}}
  </div>
</div>

<div *ngIf="cargandoPDF" id="cargarPDF">
  <app-loading></app-loading>
  <div id="ocultar"></div>
</div>

<div *ngIf="Mostrar" class="container-fluid">
  <div class="row">
    <div class="col-6 offset-md-3">
      <h2 _ngcontent-c3>Resultado evaluación</h2>
    </div>
  </div>
  <div class="row" hidden>
    <div class="ml-2 pl-5 col-xs-12 col-sm-6 col-md-3 col-lg-4 col-xl-3 mt-3" *ngIf="mostrarCheckboxes">

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasPreg" name="notasPreg" value="" (click)="cambiarMostrarNotasPreg()" />
            <label for="notasPreg">
              <span>
                <!-- This span is needed to create the "checkbox" element --></span>
              Tabla de preguntas
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasEv" name="notasEv" value="" [ngClass]="{'disableCheck': Evaluacion.notasEv == null || Evaluacion.notasEv.length == '0'}"
              (click)="cambiarMostrarNotasEv()" />
            <label for="notasEv" [ngClass]="{'disable': Evaluacion.notasEv == null || Evaluacion.notasEv.length == '0'}">
              <span>
                <!-- This span is needed to create the "checkbox" element --></span>
              Notas de evaluación
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasOb" name="notasOb" value="" [ngClass]="{'disableCheck': Evaluacion.notasOb == null || Evaluacion.notasOb.length == '0'}"
              (click)="cambiarMostrarNotasOb()" />
            <label for="notasOb" [ngClass]="{'disable': Evaluacion.notasOb == null || Evaluacion.notasOb.length == '0'}">
              <span>
                <!-- This span is needed to create the "checkbox" element --></span>
              Notas de objetivos
            </label>
          </div>
        </form>
      </div>

      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasSec" name="notasSec" value="" [ngClass]="{'disableCheck': !Evaluacion.flagNotasSec}"
              (click)="cambiarMostrarNotasSec()" />
            <label for="notasSec" [ngClass]="{'disable': !Evaluacion.flagNotasSec}">
              <span>
                <!-- This span is needed to create the "checkbox" element --></span>
              Notas de secciones
            </label>
          </div>
        </form>
      </div>


      <div class="checkbox">
        <form>
          <div>
            <input type="checkbox" id="notasAsig" name="notasAsig" value="" [ngClass]="{'disableCheck': !Evaluacion.flagNotasAsig}"
              (click)="cambiarMostrarNotasAsig()" />
            <label for="notasAsig" [ngClass]="{'disable': !Evaluacion.flagNotasAsig}">
              <span>
                <!-- This span is needed to create the "checkbox" element --></span>
              Notas de módulos
            </label>
          </div>
        </form>
      </div>



      <div class="mt-3">
        <button type="button" class="btnpdf mt-1 mt-lg-0 ml-0" (click)="Volver('/evaluacionprevia')">Volver</button>
        <button type="button" class="btnpdf mt-1 mt-lg-0" (click)="downloadPDF()">Generar PDF</button>
      </div>

    </div>

    <!--Tabla con datos--->
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-xl-5 mt-3 text-center" id="tablaPuntuaciones">

      <div class="data mb-2">
        Proyecto: <b>{{Evaluacion.nombre}}</b>
        <br />
        Fecha: <b>{{Evaluacion.fecha | date:'dd/MM/yyyy'}}</b>
      </div>

      <table class="table-fill mx-auto " style="overflow-x:auto;">
        <thead>
          <tr>
            <th class="text-left">Secciones</th>
            <th class="text-left">Puntuación</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let datos of ListaDeDatos; let i = index">
            <td class="text-left" [ngClass]="{'suspenso': datos.respuestasCorrectas < ListaSeccionesAgileCompliance[i]}">{{datos.nombre
              | titlecase}}</td>
            <td class="text-left" [ngClass]="{'suspenso': datos.respuestasCorrectas < ListaSeccionesAgileCompliance[i]}">{{datos.respuestasCorrectas}}%</td>
          </tr>
          <tr>
            <td class="text-left total" [ngClass]="{'suspenso': Evaluacion.puntuacion < AgileComplianceTotal}"><strong>Total</strong></td>
            <td class="text-left total" [ngClass]="{'suspenso': Evaluacion.puntuacion < AgileComplianceTotal}">{{Evaluacion.puntuacion}}%</td>
          </tr>
          <tr>
            <td>Media</td>
            <td class="media" *ngIf="Evaluacion.media == -1">No existen evaluaciones</td>

            <td class="media" *ngIf="Evaluacion.media != -1" height="100%">{{Evaluacion.media | number:'1.0-1'}}%</td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 text-center mt-4">



      <!--Grafica-->
      <div id="Grafica" class="mx-auto">
        <canvas id="canvas" baseChart [datasets]="barChartData" [labels]="ListaNombres" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" [colors]="chartColors"></canvas>
      </div>

    </div>

  </div>

  <div class="data mb-2">
    <b>{{Evaluacion.nombre}}</b> - <b>{{Evaluacion.fecha | date:'dd/MM/yyyy'}}</b>
  </div>

  <div class="circle-progress-container">
      <div *ngFor="let datos of ListaDeDatos; let i = index" [attr.data-index]="i" [ngClass]="{'isAgile':datos.respuestasCorrectas>ListaSeccionesAgileCompliance[i]}">
    <circle-progress
  [percent]= "getPercent(datos.respuestasCorrectas, ListaSeccionesAgileCompliance[i])"
  [toFixed] = "1"
  [subtitle] = "[formatSubtitle(datos.respuestasCorrectas, ListaSeccionesAgileCompliance[i]), '']"
  [subtitleFormat] = "formatSubtitle(datos.respuestasCorrectas, ListaSeccionesAgileCompliance[i])"
  [subtitleFontSize]= "12"
  [titleFontSize]= "24"
  [unitsFontSize]= "14"
  [radius]="70"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [innerStrokeColor]="datos.respuestasCorrectas>ListaSeccionesAgileCompliance[i]?'#C7E596':'#ffdb7b'"
  [outerStrokeColor]="datos.respuestasCorrectas>ListaSeccionesAgileCompliance[i]?'#78C000':'#FDB900'"
  [animation]="true"
  [animationDuration]="300"
    ></circle-progress>
    <div class="text-center"><b>{{datos.nombre}}</b></div>
  </div>
  <!-- <div>
      <circle-progress
      [percent]= "Evaluacion.puntuacion/AgileComplianceTotal*100"
      [toFixed] = "1"
      [subtitle] = "['del nivel', 'Agile Compliance']"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [innerStrokeColor]="Evaluacion.puntuacion>AgileComplianceTotal?'#C7E596':'#ffdb7b'"
      [outerStrokeColor]="Evaluacion.puntuacion>AgileComplianceTotal?'#78C000':'#FDB900'"
      [animation]="true"
      [animationDuration]="300"
        ></circle-progress>
        <div class="text-center"><b>TOTAL</b></div>
  </div> -->

  </div>

  <div class="notas-row mat-elevation-z2">
      <div class="notas-container">
      <mat-form-field class="comments-form-field" appearance="outline">
          <mat-label>Notas Evaluación</mat-label>
          <textarea matInput 
          cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="6"
        cdkAutosizeMaxRows="6"
        placeholder="Notas Evaluación" [(ngModel)]="Evaluacion.notasEvaluacion"
        [debounce]="1000" 
        (ngModelChange)="saveNotas(Evaluacion)"
        [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
        </textarea>
        </mat-form-field>
      </div>
      <div class="notas-container">
          <mat-form-field class="comments-form-field" appearance="outline">
              <mat-label>Notas Objetivos</mat-label>
              <textarea matInput 
              cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="6"
            cdkAutosizeMaxRows="6"
            placeholder="Notas Objetivos" [(ngModel)]="Evaluacion.notasObjetivos"
            [debounce]="1000" 
            (ngModelChange)="saveNotas(Evaluacion)"
            [readonly] = "UserRole != 'Evaluador' && UserRole != 'Administrador'"> 
            </textarea>
            </mat-form-field>
          </div>
  </div>

  

  <div class="table-row" *ngIf="true">
      <div class="botonesPregsOComents">
          <button class="transparente botonPreg" (click)="MostrarComentarios = false; MostrarPreguntas = true">
              <img [class.button-disabled]="!MostrarPreguntas" src="assets/questions.png" title="Ver preguntas" />
            </button>
          <button class="transparente botonComents" (click)="MostrarComentarios = true; MostrarPreguntas = false">
              <img [class.button-disabled]="!MostrarComentarios" src="assets/comments.png" title="Ver comentarios" />
            </button>         
        </div>
        
    <preguntas-table *ngIf="MostrarPreguntas && ListaDeRespuestas && ListaDeRespuestas.length > 0" [dataInput]="ListaDeRespuestas" class="preguntas-table">
      loading
    </preguntas-table>
    
  </div>







<!--vvv parte antigua, borrar una vez consultada vvv-->
  <div class="row m-0 p-5">
    <div class="notas col-12" *ngIf="mostrarNotasEv" id="notasEvaluacion">
      <h4 [ngClass]="{'textopdf':cargandoPDF}">Notas de evaluación</h4>
      <p class="text-justify" [ngClass]="{'textopdf':cargandoPDF}">{{Evaluacion.notasEv}}</p>
    </div>

    <hr align="left" *ngIf="mostrarNotasOb && mostrarNotasEv" [ngClass]="{'textopdf':cargandoPDF}" />

    <div class="notas col-12" *ngIf="mostrarNotasOb" id="notasObjetivos">
      <h4 [ngClass]="{'textopdf':cargandoPDF}">Notas de objetivos</h4>
      <p class="text-justify" [ngClass]="{'textopdf':cargandoPDF}">{{Evaluacion.notasOb}}</p>
    </div>

    <hr *ngIf="mostrarNotasSec && (mostrarNotasEv || mostrarNotasOb)" [ngClass]="{'textopdf':cargandoPDF}" />

    <div class="notas col-12" *ngIf="mostrarNotasSec" id="notasSecciones">
      <h4 [ngClass]="{'textopdf':cargandoPDF}">Notas de secciones</h4>
      <div *ngFor="let datos of ListaDeDatos">
        <div *ngIf="datos.notas != null && datos.notas != ''">
          <h5 [ngClass]="{'textopdf':cargandoPDF}">{{datos.nombre | titlecase}}</h5>
          <p class="text-justify" [ngClass]="{'textopdf':cargandoPDF}">{{datos.notas}}</p>
        </div>
      </div>

    </div>

    <hr *ngIf="mostrarNotasAsig && (mostrarNotasEv || mostrarNotasOb || mostrarNotasSec)" [ngClass]="{'textopdf':cargandoPDF}" />

    <div class="notas col-12" *ngIf="mostrarNotasAsig" id="notasAsignaciones">
      <h4 [ngClass]="{'textopdf':cargandoPDF}">Notas de módulos</h4>
      <table class="table-fill" style="overflow-x:auto;">
        <thead>
          <tr>
            <th class="text-left">Sección</th>
            <th class="text-left">Módulo</th>
            <th class="text-left">Notas</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let asig of ListaDeAsignaciones">
            <td class="text-left notasPreg" *ngIf="asig.notas != null && asig.notas != ''">{{asig.section | titlecase}}</td>
            <td class="text-left notasPreg" *ngIf="asig.notas != null && asig.notas != ''">{{asig.asignacion}}</td>
            <td class="text-left notasPreg text-justify colNotasAsi" [ngClass]="{'pdf':cargandoPDF}" *ngIf="asig.notas != null && asig.notas != ''">{{asig.notas}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="cargandoNotas">
      <app-loading></app-loading>
    </div>

    <hr *ngIf=" mostrarNotasPreg && (mostrarNotasEv || mostrarNotasOb || mostrarNotasSec || mostrarNotasAsig)" [ngClass]="{'textopdf':cargandoPDF}" />

    <!-- Nueva tabla preguntas  -->
    <div class="mat-elevation-z8 example-container m-auto" *ngIf="mostrarNotasPreg && false">
      <table mat-table [dataSource]="respuestasSource" aria-label="Elements">

        <!-- Seccion  -->
        <ng-container matColumnDef="seccion">
          <th mat-header-cell *matHeaderCellDef>Sección</th>
          <td mat-cell *matCellDef="let row">{{row.section}}</td>
        </ng-container>

        <!-- Modulo  -->
        <ng-container matColumnDef="modulo">
          <th mat-header-cell *matHeaderCellDef>Módulo</th>
          <td mat-cell *matCellDef="let row">{{row.asignacion}}</td>
        </ng-container>

        <!-- Pregunta  -->
        <ng-container matColumnDef="pregunta">
          <th mat-header-cell *matHeaderCellDef>Pregunta</th>
          <td mat-cell *matCellDef="let row">{{row.pregunta}}</td>
        </ng-container>



        <!--  Respuesta  -->
        <ng-container matColumnDef="respuesta">
          <th mat-header-cell *matHeaderCellDef>Respuesta</th>
          <td mat-cell *matCellDef="let row">
            <i class="material-icons" [class]="checkRespuestaCorrecta(row)">fiber_manual_record</i>
            {{displayRespuesta(row)}}
          </td>
        </ng-container>

        <!--  Estado -->
        <ng-container matColumnDef="notas">
          <th mat-header-cell *matHeaderCellDef>Notas</th>
          <td mat-cell *matCellDef="let row"> {{row.notas}} </td>
        </ng-container>

        <!--  Notas -->
        <ng-container matColumnDef="notas-admin">
          <th mat-header-cell *matHeaderCellDef>Notas Administrador</th>
          <td mat-cell *matCellDef="let row"> {{row.notasAdmin}} </td>
        </ng-container>

        <!--  Notas evaluacion -->


        <!--  Informe -->
        <!-- <ng-container matColumnDef="informe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Informe</th>
          <td mat-cell *matCellDef="let row">
            <button class="transparente" (click)="SaveDataToPDF(row)">
              <img class="informe" src="assets/report.png" title="Ver informe" />
            </button>
          </td>
        </ng-container> -->






        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>



    </div>



  </div>



  <div class="row">

    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 mt-3 text-center"></div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 mt-3 text-center">



    </div>

    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-3 mt-3 text-center"></div>



  </div>
</div>


<div *ngIf="!Mostrar" class="mt-3">
  <app-loading></app-loading>
</div>


<div id="my_mm" style="height:1mm;display:none"></div>


<ng-template #notasAdmin let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Notas Respuestas Administrador</h5> <button type="button" class="close" (click)="cl('Cerrar')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea class="form-control" maxlength="4000" placeholder="Inserte aquí el texto" rows="10" [(ngModel)]="textoModal"></textarea>
    </div>
    <div class="modal-footer">
      <p id="numletras" class="mr-2 mt-2">{{textoModal.length}}/4000</p>
      <button type="button" class="btn btn-success cambiar" (click)="di('Guardar')">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cl('Cerrar')">Cancelar</button>
    </div>
  </div>
</ng-template>
